.categories__sorting {
  position: relative;
  display: flex;
}

.categories__sorting-type {
  position: relative;
  width: 150px;
  margin-left: 5px;
  padding: 12px 10px;
  font-size: 18px;
  line-height: 1.2;
  background-color: #ffffff;
  color: #808080;
  cursor: pointer
}

.categories__sorting-caption {
  align-self: center;
}

.categories__options {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border:1px solid #dfdfdf;
  border-radius: 4px;
  color: #808080;
}

.categories__options li {
  font-size: 18px;
  line-height: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.categories__option--active {
  background-color: #ffffff;
  color: #808080;
}

.categories__options--custom {
  position: absolute;
  left: 52px;
  z-index: 1;
  background-color: #ffffff;
}

.categories__options--closed {
  display: none;
}

.categories__options--opened {
  display: block;
  top: 0;
  left: 94px;
  border-radius: 0;
  width: 170px;
}

.categories__sorting svg {
  position: absolute;
  right: 8px;
  top: 35%;
}
