.main-header {
  padding-left: 7.2%;
  padding-right: 7.2%;
  padding-bottom: 30px;
  background-color: #000000;
  color: $main-color;
  background-image: url('../../img/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

@media (max-width: $mobile-width-only) {
  .main-header {
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}
