.type__sorting {
  position: relative;
  display: flex;
}

.type__sorting-type {
  position: relative;
  width: 150px;
  margin-left: 5px;
  padding: 12px 10px;
  font-size: 18px;
  line-height:1.2;
  background-color: #ffffff;
  color: #808080;
  cursor: pointer
}

.type__sorting-caption {
  align-self: center;
}

.type__sorting-type {
  position: relative;
  align-self: center;
}

.type__options {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color:#ffffff;
  border:1px solid #dfdfdf;
  border-radius:4px;
  color: #808080;
}

.type__options li {
  font-size: 18px;
  line-height: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.type__option--active {
  background-color: #ffffff;
  color: #808080;
}

.type__options--custom {
  position: absolute;
  left: 52px;
  z-index: 1;
  background-color: #ffffff;
}

.type__options--closed {
  display: none;
}

.type__options--opened {
  display: block;
  top: 0;
  left: 87px;
  border-radius: 0;
  width: 170px;
}

.type__sorting svg {
  position: absolute;
  right: 8px;
  top: 35%;
}

@media (max-width: $mobile-width-only) {
  .type__sorting-type {
    margin-left: 12px;
  }
}
