.type__sorting {
  position: relative;
  display: flex;
}

.type__sorting-type {
  position: relative;
  width: 150px;
  margin-left: 5px;
  padding: 12px 10px;
  font-size: 18px;
  line-height:1.2;
  background-color: #ffffff;
  color: #808080;
  cursor: pointer
}

.type__sorting-caption {
  align-self: center;
}

.type__sorting-type {
  position: relative;
  align-self: center;
}

.type__sorting-type {
  &::before,
  &::after {
    content: '';
    position: absolute;

    width: 12px;
    height: 2px;
    top: 50%;
    transform: rotate(-45deg);
    background-color: #808080;
  }

  &::before {
    right: 12px;
    transform: rotate(45deg);
  }

  &::after {
    right: 5px;
  }

  &:hover::before,
  &:hover::after {
    background-color: #000000;
  }
}

.type__options {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  color: #808080;
}

.type__options li {
  font-size: 18px;
  padding-left: 12px;
  line-height: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.type__sorting-type:hover,
.type__sorting-type:focus,
.type__options li:hover,
.type__options li:focus {
  background-color: #ccc4c4;
  color: #000000;
}

.type__option--active {
  background-color: #ffffff;
  color: #808080;
}

.type__options--custom {
  position: absolute;
  left: 52px;
  z-index: 1;
  background-color: #ffffff;
}

.type__options--closed {
  display: none;
}

.type__options--opened {
  display: block;
  top: 0;
  left: 87px;
  border-radius: 0;
  width: 170px;
}

.type__options--opened li:first-child {
  &::before,
  &::after {
    content: '';
    position: absolute;

    width: 12px;
    height: 2px;
    top: 22px;
    background-color: #808080;
  }

  &::before {
    right: 12px;
    transform: rotate(-45deg);
  }

  &::after {
    right: 5px;
    transform: rotate(45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #000000;
  }
}

.type__sorting svg {
  position: absolute;
  right: 8px;
  top: 35%;
}

@media (max-width: $mobile-width-only) {
  .type__sorting-type {
    margin-left: 12px;
  }
}
